@import "tailwindcss";

:root {
  --font-plus-jakarta: var(--font-plus-jakarta);
  --font-koulen: var(--font-koulen);
}

@theme {
  --font-family-plus-jakarta: var(--font-plus-jakarta), sans-serif;
  --font-family-koulen: var(--font-koulen), cursive;
}

body {
  font-family: var(--font-plus-jakarta), sans-serif;
}

.font-koulen {
  font-family: var(--font-koulen), cursive;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
